@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Concert+One&display=swap');
*,
*::after,
*::before{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(216, 216, 228);
}
img[alt="logo"]{
    width:5rem;
    height: 5rem;
  }
  /* img[alt="products"]{
    width: 5rem;
    height: 5rem;
  } */
  footer{
    background-color: #AA2222;
    color: white;
    text-align: center;
    
    position: fixed;
    bottom: 0; 
  }
  /* .imggg{
    
    background-image: url("https://i.postimg.cc/K8dh82Xf/61783418-l-1024x683.jpg");
    background-repeat: no-repeat;
    object-position: center;
    background-size: contain;
    height: 800px; 
 
  }*/
  span{
    display: block;
    color: #AA2222;
  }
  #JS{
    color:#224952 ;
  }

main{
    background-color:rgb(216, 216, 228);

}
/* #home{ */
    /* background-color: rgb(216, 216, 228);
    background-image: url("https://i.postimg.cc/nLRLG1zr/61783418-l-1024x683-removebg-preview.png");
    background-repeat: no-repeat;
    /* object-position: center;
    object-fit: cover; */
    /* background-size: contain;
    aspect-ratio: 1/1;  */
    /* font-family: 'Anton', sans-serif;
    font-family: 'Anton', sans-serif;
    font-size: 3rem;  */


/* #home{
background-image: url(https://i.postimg.cc/nLRLG1zr/61783418-l-1024x683-removebg-preview.png);
background-repeat: no-repeat;
aspect-ratio: 1/1;
background-size:auto;
} */

#about{
    /* background-color: rgb(216, 216, 228); */
    /* margin-top: 300px; */

    color:#224952 ;
    font-family: 'Concert One', sans-serif;
    
}
h2{
    text-align: center;
    color: #AA2222;
    font-size: 3rem;
    font-family: 'Concert One', sans-serif;
}
p{
    font-size: 1.5rem;
}
#aboutpic{
width: 10rem;
height: 10rem;
}
h3{
    color: white;
}
#btn{
    width: 5rem;
    height:2rem;
    background-color: grey;
    border-radius: 0.3rem;
    color: white;
}
#search{
    width: 8rem;
    height: 2rem;
    border: groove;
}
#home{
    background:url('https://i.postimg.cc/nLRLG1zr/61783418-l-1024x683-removebg-preview.png' ) no-repeat;
    /* You just have to change the value of background-size */
    background-size: contain;
    background-position: center;
    
    /* mix-blend-mode: luminosity; */
    font-family: 'Anton', sans-serif;
    font-family: 'Anton', sans-serif;
    font-size: 4rem; 
    background-color: rgb(216, 216, 228);

}
.card{
    width: 18rem;
}
.card-img-top{
    width: 8rem;
    height: 10rem;
}


#btncontact{
    background-color: #AA2222;
}
#btnclear{
    background-color:gray;
    width: 5rem;
    height: 2.3rem;
    border-radius: 6px;
     margin-bottom: 10px;
     color: white; 
}
#btnpurchase{
    background-color:#AA2222;
    color: white;
    width: 5.5rem;
    height: 2.3rem;
    border-radius: 6px;
     margin-bottom: 10px; 

}
/* :is(#treats,#contact,#checkout,#products){
    font-family: 'Concert One', sans-serif;
} */
#icon{
    
    color: #224952;
    font-size: 1.7rem;}
#contact{

    font-weight: bold;
    color: #224952;
}
#btnadmin{
    background-color:#AA2222;
    color: white;
    width: 10rem;
    height: 2rem;
    border-radius: 6px;
    margin-bottom: 10px; 
}
img[alt="${item.flavour}"]{
    width:2rem;
    height: 2rem;
  }