@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Concert+One&display=swap');
*,
*::after,
*::before{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(216, 216, 228);

}
img[alt="logo"]{
    width:5rem;
    height: 5rem;
  }
  /* img[alt="products"]{
    width: 5rem;
    height: 5rem;
  } */

  footer{
    background-color: #AA2222;
    color: white;
    text-align: center;
    
    
  }
  /* .imggg{
    
    background-image: url("https://i.postimg.cc/K8dh82Xf/61783418-l-1024x683.jpg");
    background-repeat: no-repeat;
    object-position: center;
    background-size: contain;
    height: 800px; 
 
  }*/
  span{
    display: block;
    color: #AA2222;
  }
  #JS{
    color:#224952 ;
  }

main{
    background-color:rgb(216, 216, 228);

}
/* #home{ */
    /* background-color: rgb(216, 216, 228);
    background-image: url("https://i.postimg.cc/nLRLG1zr/61783418-l-1024x683-removebg-preview.png");
    background-repeat: no-repeat;
    /* object-position: center;
    object-fit: cover; */
    /* background-size: contain;
    aspect-ratio: 1/1;  */
    /* font-family: 'Anton', sans-serif;
    font-family: 'Anton', sans-serif;
    font-size: 3rem;  */


/* #home{
background-image: url(https://i.postimg.cc/nLRLG1zr/61783418-l-1024x683-removebg-preview.png);
background-repeat: no-repeat;
aspect-ratio: 1/1;
background-size:auto;
} */

#about{
    /* background-color: rgb(216, 216, 228); */
    /* margin-top: 300px; */

    color:#224952 ;
    font-family: 'Concert One', sans-serif;
    
}
h2{
    text-align: center;
    color: #AA2222;
    font-size: 3rem;
}
p{
    font-size: 1.5rem;
}
#aboutpic{
width: 10rem;
height: 10rem;
}
h3{
    color: white;
}
#btn{
    width: 5rem;
    height:2rem;
}
#search{
    width: 8rem;
    height: 2rem;
}
#home{
    background:url('https://i.postimg.cc/nLRLG1zr/61783418-l-1024x683-removebg-preview.png') no-repeat;
    /* You just have to change the value of background-size */
    background-size: contain;
    background-position: center;
    
    /* mix-blend-mode: luminosity; */
    font-family: 'Anton', sans-serif;
    font-family: 'Anton', sans-serif;
    font-size: 4rem; 
    background-color: rgb(216, 216, 228);

}
.card-img-top{
    width: 8rem;
    height: 10rem;
}

.submit{
    width: 365px;
    height: 40px;
    border-radius: 6px;
     margin-bottom: 10px; 
    background-color: #468079;}
.submit:hover{
    background-color: #2980b9;
}
#texta{
    width: 23.1rem ;
    height: 10rem ;
    background-color:#E8DED1;}
